{
    "signing": {
        "default": {
            "ocsp_url": "http://pki.moot.fr:8889",
            "crl_url": "http://pki.moot.fr:8888/crl",
            "expiry": "26280h",
            "auth_key": "default",
            "usages": [
                "signing",
                "key encipherment",
                "client auth"
            ]
        },
        "profiles": {
            "ocsp": {
            	"auth_key": "ocsp",
                "usages": ["digital signature", "ocsp signing"],
                "expiry": "26280h"
            },
            "intermediate": {
            	"auth_key": "intermediate",
                "usages": ["cert sign", "crl sign"],
                "expiry": "26280h",
                "ca_constraint": {"is_ca": true}
            },
            "server": {
                "usages": ["signing", "key encipherment", "server auth"],
                "expiry": "26280h"
            },
            "client": {
                "usages": ["signing", "key encipherment", "client auth"],
                "expiry": "26280h"
            }
        }
    },
    "auth_keys": {
		"ocsp": {
		  "key": "{OCSPKEY}",
		  "type": "standard"
    	},
    	"intermediate": {
		  "key": "{INTKEY}",
		  "type": "standard"
    	},
    	"default": {
		  "key": "{DEFKEY}",
		  "type": "standard"
    	}
  	}
}