PDNS_dont_query=127.0.0.0/8, 100.64.0.0/10, 169.254.0.0/16, ::1/128, fc00::/7, fe80::/10, 0.0.0.0/8, 192.0.0.0/24, 192.0.2.0/24, 198.51.100.0/24, 203.0.113.0/24, 240.0.0.0/4, ::/96, ::ffff:0:0/96, 100::/64, 2001:db8::/32
PDNS_serve_rfc1918=no
PDNS_api_config_dir=/etc/pdns/api.d
PDNS_include_dir=/etc/pdns/api.d
PDNS_forward_zones=
PDNS_forward_zones_recurse=
PDNS_dnssec=log-fail
PDNS_trace=no
PDNS_lua_config_file=/etc/pdns/lua/lua.conf
