PDNS_ADMIN_SQLA_DB_PASSWORD='{PASSDB}'
PDNS_ADMIN_PDNS_STATS_URL='http://pdns:8080/'
PDNS_ADMIN_PDNS_API_KEY='{APIKEY}'
PDNS_ADMIN_PDNS_VERSION='4.0.4'

PDNS_ADMIN_LDAP_TYPE='ldap'
PDNS_ADMIN_LDAP_URI='ldap://openldap'
PDNS_ADMIN_LDAP_USERNAME='{LDAPUSER}'
PDNS_ADMIN_LDAP_PASSWORD='{LDAPPASS}'
PDNS_ADMIN_LDAP_SEARCH_BASE='ou=users,dc=moot,dc=fr'
PDNS_ADMIN_LDAP_USERNAMEFIELD='uid'
PDNS_ADMIN_LDAP_FILTER='(objectClass=inetorgperson)'

PDNS_ADMIN_RECORDS_ALLOW_EDIT=['A', 'AAAA', 'CNAME', 'SPF', 'PTR', 'MX', 'TXT', 'SRV', 'SSHFP']