PDNS_gpgsql_password={PASSDB}
PDNS_gpgsql_dnssec=yes
PDNS_version_string=anonymous
PDNS_default_ttl=3600
PDNS_soa_minimum_ttl=3600
PDNS_default_soa_name=ns1.moot.fr
PDNS_default_soa_mail=moot.fr
PDNS_api=yes

#PDNS_allow_axfr_ips=172.5.0.21
#PDNS_only_notify=172.5.0.21
