#!/bin/sh

DNS_DOMAIN={DOMAIN}
PDNS_KEY={PDNS_api_key}
PDNS_URL={ENDPOINT}
DATE=`date '+%Y-%m-%d %H:%M:%S.000'`
TS=`date '+%s'`

if [ "$1" = "lease4_select" ] || [ "$1" = "lease4_renew" ]; then
	
	HWADDRCLEAN=${KEA_LEASE4_HWADDR//:/}
	HOSTNAMECLEAN=${KEA_LEASE4_HOSTNAME:=${HWADDRCLEAN}}
	HOSTNAMECLEAN=$(echo ${HOSTNAMECLEAN} | sed 's/\.$//')

	RESPONSE=$(curl -i -L -s -X PATCH --connect-timeout 30 -m 30  --data "{\"rrsets\": [{\"comments\": [], \"changetype\": \"REPLACE\", \"name\": \"${HOSTNAMECLEAN}.${DNS_DOMAIN}\", \"records\": [{\"content\": \"${KEA_LEASE4_ADDRESS}\", \"disabled\": false}], \"ttl\": ${KEA_LEASE4_VALID_LIFETIME}, \"type\": \"A\"}]}" -H "X-API-Key: ${PDNS_KEY}" -H "Referer:${HOSTNAMECLEAN}" ${PDNS_URL}/api/v1/servers/localhost/zones/${DNS_DOMAIN})

	if [ $? -eq 0 ]; then 
		RESPONSE2=$(curl -i -L -s -X PATCH --connect-timeout 30 -m 30 --data "{\"rrsets\": [{\"comments\": [], \"changetype\": \"REPLACE\", \"name\": \"${HOSTNAMECLEAN}.${DNS_DOMAIN}\", \"records\": [{\"content\": \"\\\"DH ${KEA_LEASE4_HWADDR} ${TS}\\\"\", \"disabled\": false}], \"ttl\": ${KEA_LEASE4_VALID_LIFETIME}, \"type\": \"TXT\"}]}" -H "X-API-Key: ${PDNS_KEY}" -H "Referer:${HOSTNAMECLEAN}" ${PDNS_URL}/api/v1/servers/localhost/zones/${DNS_DOMAIN})

		if [ $? -eq 0 ]; then 
			echo "${DATE} INFO [kea-run-hookscript] PDNS : Updating ${HOSTNAMECLEAN}.${DNS_DOMAIN} TO ${KEA_LEASE4_ADDRESS} FOR ${KEA_LEASE4_VALID_LIFETIME} [${KEA_LEASE4_HWADDR}]"
		else
			echo "${DATE} INFO [kea-run-hookscript] PDNS : ${HOSTNAMECLEAN} TXT Record Failed : ${RESPONSE2}"
		fi
	else
		echo "${DATE} INFO [kea-run-hookscript] PDNS : ${HOSTNAMECLEAN} A Record Failed : ${RESPONSE}"	
	fi
fi

exit 0

